:root {
  --white-color: hsl(240, 56%, 98%);
  --black-color: #1a1e23; }

.loader {
  --loader-width: 4rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--loader-width);
  height: var(--loader-width);
  text-align: center; }
  .loader::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--black-color);
    border-radius: 50%;
    animation: scale-bounce 1.5s ease-in-out both infinite; }
  .loader .spinner {
    position: absolute;
    width: calc(var(--loader-width) * 0.7);
    fill: none;
    animation: spin 2s linear both infinite;
    display: block;
    margin: auto; }
    .loader .spinner circle {
      stroke: white;
      stroke-width: 2px;
      stroke-linecap: round;
      animation: stroke-dash 1.5s ease-in-out both infinite; }

@keyframes stroke-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: -125px; } }
@keyframes spin {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(1turn); } }
@keyframes scale-bounce {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
.icon {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 32px;
  position: relative; }

.confetti {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden; }

.confetti-piece {
  position: absolute;
  width: 8px;
  height: 16px;
  background: #4e04e2;
  top: 0;
  opacity: 0; }
  .confetti-piece:nth-child(1) {
    left: 7%;
    transform: rotate(39deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 209ms;
    animation-duration: 1091ms; }
  .confetti-piece:nth-child(2) {
    left: 14%;
    transform: rotate(48deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 455ms;
    animation-duration: 1053ms; }
  .confetti-piece:nth-child(3) {
    left: 21%;
    transform: rotate(29deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 31ms;
    animation-duration: 996ms; }
  .confetti-piece:nth-child(4) {
    left: 28%;
    transform: rotate(10deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 139ms;
    animation-duration: 778ms; }
  .confetti-piece:nth-child(5) {
    left: 35%;
    transform: rotate(-80deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 219ms;
    animation-duration: 950ms; }
  .confetti-piece:nth-child(6) {
    left: 42%;
    transform: rotate(34deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 321ms;
    animation-duration: 941ms; }
  .confetti-piece:nth-child(7) {
    left: 49%;
    transform: rotate(-37deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 242ms;
    animation-duration: 926ms; }
  .confetti-piece:nth-child(8) {
    left: 56%;
    transform: rotate(-70deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 74ms;
    animation-duration: 760ms; }
  .confetti-piece:nth-child(9) {
    left: 63%;
    transform: rotate(78deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 194ms;
    animation-duration: 1108ms; }
  .confetti-piece:nth-child(10) {
    left: 70%;
    transform: rotate(-21deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 355ms;
    animation-duration: 1052ms; }
  .confetti-piece:nth-child(11) {
    left: 77%;
    transform: rotate(-30deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 288ms;
    animation-duration: 820ms; }
  .confetti-piece:nth-child(12) {
    left: 84%;
    transform: rotate(-52deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 85ms;
    animation-duration: 1063ms; }
  .confetti-piece:nth-child(13) {
    left: 91%;
    transform: rotate(-18deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 227ms;
    animation-duration: 963ms; }
  .confetti-piece:nth-child(odd) {
    background: #2e00ba; }
  .confetti-piece:nth-child(even) {
    z-index: 1; }
  .confetti-piece:nth-child(4n) {
    width: 5px;
    height: 12px;
    animation-duration: 2000ms; }
  .confetti-piece:nth-child(3n) {
    width: 3px;
    height: 10px;
    animation-duration: 2500ms;
    animation-delay: 1000ms; }
  .confetti-piece:nth-child(4n-7) {
    background: #1145ff; }

@keyframes makeItRain {
  from {
    opacity: 0; }
  50% {
    opacity: 1; }
  to {
    transform: translateY(200px); } }
html,
body {
  margin: 0px;
  padding: 0px; }

#col_tog {
  display: inline-block;
  font-weight: 600;
  border-radius: 500px;
  padding: 8px 20px;
  margin: 5px;
  cursor: pointer;
  transition: 200ms ease-in-out; }

#gfol_wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

#bg {
  position: fixed;
  width: 100%;
  height: 100%;
  transition: 150ms ease-in-out; }
  #bg.light {
    background: #ffffff; }
    #bg.light .gfol_c {
      background: #1cd13b;
      border: 2px solid #ffffff; }
    #bg.light #col_tog {
      background: #1cd13b;
      color: #ffffff; }
  #bg.dark {
    background: #1cd13b; }
    #bg.dark .gfol_c {
      background: #ffffff;
      border: 2px solid #1cd13b; }
    #bg.dark #col_tog {
      background: #ffffff;
      color: #1cd13b; }

#bg.dark .gfol_c,
#bg.light .gfol_c {
  display: inline-block;
  border-radius: 100%;
  position: absolute;
  transform: translate(250%, -50%);
  animation: gfol_a 2.3s cubic-bezier(0.8, 0, 0.2, 1) infinite; }
  #bg.dark .gfol_c.gfol_c7,
  #bg.light .gfol_c.gfol_c7 {
    /* bot mid */
    top: 20px;
    left: 0px;
    height: 49px;
    width: 49px;
    background: #1ce63b; }
  #bg.dark .gfol_c.gfol_c8,
  #bg.light .gfol_c.gfol_c8 {
    /* bot right */
    top: 23px;
    left: 34px;
    height: 40px;
    width: 40px; }
  #bg.dark .gfol_c.gfol_c9,
  #bg.light .gfol_c.gfol_c9 {
    /* bot left */
    top: 20px;
    left: -37px;
    height: 36px;
    width: 36px;
    background: #1caa3b; }
  #bg.dark .gfol_c.gfol_c10,
  #bg.light .gfol_c.gfol_c10 {
    /* top left */
    top: -8px;
    left: -16px;
    height: 33px;
    width: 33px; }
  #bg.dark .gfol_c.gfol_c11,
  #bg.light .gfol_c.gfol_c11 {
    /* top right */
    top: -5px;
    left: 17px;
    height: 36px;
    width: 36px;
    background: #1caa3b; }
  #bg.dark .gfol_c.gfol_c2,
  #bg.light .gfol_c.gfol_c2 {
    top: -2px;
    left: 38px;
    height: 20px;
    width: 20px;
    background: #1caa3b; }
  #bg.dark .gfol_c.gfol_c3,
  #bg.light .gfol_c.gfol_c3 {
    top: -24px;
    left: -3px;
    height: 25px;
    width: 25px;
    background: #1cff3b; }
  #bg.dark .gfol_c.gfol_c4,
  #bg.light .gfol_c.gfol_c4 {
    top: 27px;
    left: 55px;
    height: 29px;
    width: 29px;
    background: #1cff3b; }
  #bg.dark .gfol_c.gfol_c5,
  #bg.light .gfol_c.gfol_c5 {
    top: 30px;
    left: -52px;
    height: 28px;
    width: 28px;
    background: #1ce63b; }
  #bg.dark .gfol_c.gfol_c6,
  #bg.light .gfol_c.gfol_c6 {
    top: 0px;
    left: -36px;
    height: 18px;
    width: 18px;
    background: #1caa3b; }
  #bg.dark .gfol_c.gfol_c1,
  #bg.light .gfol_c.gfol_c1 {
    top: 30px;
    left: 73px;
    height: 18px;
    width: 18px;
    background: #1ce63b; }
  #bg.dark .gfol_c.gfol_c12,
  #bg.light .gfol_c.gfol_c12 {
    top: 34px;
    left: -24px;
    height: 20px;
    width: 20px; }

@keyframes gfol_a {
  0% {
    transform: translate(250%, -50%) scale(0);
    opacity: 0; }
  50% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1; }
  100% {
    transform: translate(-350%, -50%) scale(0);
    opacity: 0; } }

/*# sourceMappingURL=App2.css.map */
